<div class="container">
  <div class="row">

    <div class="col-lg-2" style="background-color: orange">
      <h3>ジャンル検索(部分テンプレート化</h3>
    </div>
    <div class="col-lg-8 offset-1">
      <p style="text-align: center;">
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトとなります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。</br>
      </p>
    </div>

    <div class="col-md-8 offset-3">
      <h3>新着商品</h3>
    </div>
    <div class="col-md-2 offset-3" style="background-color: orange">
      <h4>商品名</h4>
    </div>
    <div class="col-md-2" style="background-color: red">
      <h4>商品名</h4>
    </div>
    <div class="col-md-2" style="background-color: blue">
      <h4>商品名</h4>
    </div>
    <div class="col-md-2" style="background-color: green">
      <h4>商品名</h4>
    </div>
  </div>

  <div style="text-align: right;">
    <%= link_to "全ての商品を見る>", products_path %>
  </div>


</div>