<div class="container">
  <h1>注文履歴詳細</h1>

  <p>注文情報</p>
    <table class="table table-border">
      <tbody>
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td><%= @order.postal_code %></br>
              <%= @order.address %></br>
              <%= @order.name %>
          </td>
        </tr>
      </tbody>
    </table>
</div>
