/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.theme{
    background-color: whitesmoke;
}
#notice{
  font-size: 14px;
  color: green;
}

#alert{
  font-size: 14px;
  color: red;
}

/*デフォルトエラーメッセージが出た際、レイアウトが崩れないCSSを記述*/
.field_with_errors {
  display: contents;
}

//テーブルクラス内のリンク表記変更：カスタマー側で影響がでないか注意！
td > a{
  color: black;
  text-decoration: underline;
}

//kaminariの中央寄せ
.pagination {
  justify-content: center;
}

//販売ステータス
.sale{
  color: green;
}
.sold{
  color: gray;
}

.no-underline{
  text-decoration: none;
}

.form{
  display: inline-flex;
}

.ge-edit{
  margin-bottom: 30px;
}